.mast {
  font-family: 'Merriweather', serif;
  font-size: 80px;
  border-bottom: 2px solid lightgrey;
  padding: 20px;
  margin-bottom: 40px;
  line-height: 78px;
}

.barbaric {
  font-family: 'Bangers', cursive;
  color: #7C3642;
}

#loginView h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}
