#options {

}

.button-options {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.button-options i {
  font-size: 30px;
  margin-right: 10px;
}

#options a {
  color: inherit;
  text-decoration: inherit;

}
