#options {

}

.button-options {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.button-options i {
  font-size: 30px;
  margin-right: 15px;
}

#options a {
  color: inherit;
  text-decoration: inherit;
}

#options select {
  height: 35%;
  width: 15%;
  font-size: 18px
}
