@import url('https://fonts.googleapis.com/css?family=Bangers|Merriweather:400,700,900i');
/* Import styles for Login component */
@import url('./Login.css');
@import url('./Options.css');
@import url('./Navbar.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
.main {
  display: grid;
  grid-template-areas:
    "header nav nav nav"
    "options options options options"
    "contentTable article article article";
  grid-template-rows: 100px 100px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
  /**/
}

#login select {
 height: 30%;
}
/*
#loginPage {
  background-image: url("./src/library2.jpg");
  background-repeat: no-repeat;
}*/

img.book {
  height: 250px;
  width: 150px;
}

.logo {
  height: 125px;
  width: 325px;
  margin-bottom: 1em;
}

.options-i {
  color: #7C3642;
  background-color: white;
  border-radius: 30%;
  padding: 2px;
}

.button {
/*  background-color: #B8D4E3*/;
  background-color: #5E6572;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.classification {
  color: #7C3642;
  font-weight: bold;
}

#pageHeader {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

#bookHeader {
  align-items: left;
}

#bookCovers {
  grid-area: article;
  /*margin-right: 4em;*/
  text-align: center;
  margin-right: 2em;
}

#bookList {
  grid-area: article;
  /*margin-right: 4em;*/
}


/* BEGIN BookDetail styles */

#bookDetail {
  grid-column: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  grid-gap: 10px;
  text-align: center;
  margin-right: 4em;
}

.detail {
  padding: 10px;
}

#bookDetail .header {
  grid-column: 2 / span 2;
}

#bookDetail .cover {
  grid-column: span 3;
  text-align: left;
}

.detail .authors {
  display: block;
  width: 100%;
}

.detail .title {
  display: inline-block;
  width: 100%;
}

.detail .section-title {
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

#bookDetail .dewey {
  grid-column: 2;
}

#bookDetail .notes {
  grid-column: span 6;
  border-top: 2px solid darkgrey;
}

#bookDetail .top {
  grid-column: span 6;
  border-bottom: 2px solid darkgrey;
  text-align: right;
}

.alert {
  color: #7C3642;
  /*color: tomato;
*/}

.detail.alert {
  grid-column: span 6;
  border: 2px solid tomato;
  border-radius: 5px;
  padding: 10px;
}

.detail textarea {
  padding: 10px;
  margin: 0 auto;
  display: block;
  width: 70%;
  min-height: 120px;
  border: 2px solid lightgrey;
  border-radius: 4px;
  resize: none;
  margin-top: 12px;
}

#bookDetail input {
  -webkit-appearance: none;
  -moz-appearance : none;
  margin-top: 8px;
  border:1px solid lightgrey;
  border-radius:3px;
  padding:5px 3px;
  background-color: transparent;
}

#bookDetail select {
  margin-top: 8px;
  -webkit-appearance: none;
  -moz-appearance : none;
  border:1px solid lightgrey;
  border-radius:3px;
  padding:5px 3px;
  background-color: transparent;
}

#bookDetail label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  width: 100%;
}
/* END BookDetail styles */

#loginView {
  grid-area: header;
  grid-column: span 4;
 /* margin-top: 4em;*/
  text-align: center;
}


#searchbar {
  margin-left: 1em;
  margin-bottom: 1em;
  width: 40%;
  height: 100%;
}

table {
  width: 90%;
  margin-left: 3em;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
}

table tr:nth-child(odd) {
  /*background-color: #f1f1f1;*/
  background-color: #F2F4F7;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}


#mainNav {
  grid-area: nav;
  display: flex;
  background-color: #B8D4E3;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 2em;
  margin-right: 4em;
}

#options {
  grid-area: options;
  background-color: #5E6572;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 1em;
  align-items: center;
}

#options button {
  border: 2px solid floralwhite;

}

#contents {
  grid-area: contentTable;
  background-color: #DCE1EA;
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.wrapper {
  display: grid;
  margin-top: 4em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

#contentsDewey, #contentsTitle {
  margin-left: 10px;
}

.header {
  text-align: center;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media all and (max-width: 800px) {
  .main {
    grid-template-areas:
      "header"
      "nav"
      "options"
      "addBook"
      "article"
      "article"
      "article"
      "article";
    grid-template-rows: 150px 100px 100px auto;
    grid-template-columns: 1fr;
    grid-gap: 0;
 }
  .button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
 }

 #mainNav {
  align-items: center;
  border-radius: 0px;
  margin: 0;
 }

 #contents {
   display: none;
 }

 #options {
  margin: 0;
  padding: 5px;
 }

 .wrapper {
  grid-template-columns: 1fr 1fr;
 }
}

#addBook {
  grid-column: 2 / span 3;
  padding: 20px;
  margin-right: 4em;
}

/* Style inputs, select elements and textareas */
#addBook input[type=text], #addBook select, #addBook textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 20px;
}

#addBook label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#addBook input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-05 {
  float: left;
  width: 5%;
  margin-top: 6px;
}
.col-90 {
  float: left;
  width: 90%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Button styles */

button.button {
  font-family: 'Helvetica Neue Light', 'Lucida Grande', 'Arial', sans-serif;
  font-size: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 2em;
  display: flex;
  align-items: center;
}

button.button i {
  float: left;
  font-size: 16px;
}

#bookList a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

button.button.danger {
  background-color: red;
  color: white;
}

.real-cover {
  display: inline-block;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .3);
}
.fake-cover {
  font-family: 'Merriweather', serif;
  width: 128px;
  height: 192px;
  background-color: mistyrose;
  border: 2px solid tomato;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .3);
}

.fake-cover-title {
  font-weight: 900;
  font-style: italic;
  max-width: 100%;
  flex: 1;
}

.fake-cover-author {
  width: 100%;
  flex: 1;
}