<div class="detail top">

  <button
    class="button danger"
    ng-click="$ctrl.delete($ctrl.book.bookUser.id)">
      <i class="material-icons">delete</i> Delete
  </button>

  <button
    class="button"
    ng-show="!$ctrl.edit"
    ng-click="$ctrl.startEdit()">
      <i class="material-icons">mode_edit</i> Edit details
  </button>

  <button
    class="button"
    ng-show="$ctrl.edit"
    ng-click="$ctrl.cancel()">
      <i class="material-icons">cancel</i> Cancel
  </button>
  <button
    class="button"
    ng-show="$ctrl.edit"
    ng-click="$ctrl.saveEdits()">
      <i class="material-icons">save</i> Save changes
  </button>
</div>
<div class="detail header">
  <div class="detail title">
    <h2>{{$ctrl.book.title}}</h2>
  </div>
  <div class="detail authors">
    <div ng-repeat="author in $ctrl.book.authors">
      {{ author.firstName}} {{author.lastName}}
    </div>
  </div>
    {{$ctrl.book.pages}} pages ({{$ctrl.book.published}})

</div>
<div class="detail cover">
  <img ng-src="{{$ctrl.book.cover}}">
</div>
<div class="detail dewey">
  <div ng-show="!$ctrl.edit">
    <div class="section-title">DDC</div>
      <div ng-show="$ctrl.book.dewey">
        {{$ctrl.book.dewey}}
      </div>
      <div ng-show="!$ctrl.book.dewey">
        <span class="alert">?</span>
      </div>
  </div>

  <div ng-show="$ctrl.edit">

      <div class="form-element" ng-show="$ctrl.edit">
          <label> DDC: <input type="text" ng-model="$ctrl.book.dewey"></label>
        </div>

  </div>
</div>

<div class="detail owned">
  <div ng-show="!$ctrl.edit">
    <div class="section-title">Owned/Wishlist</div>
    <div ng-show="$ctrl.book.bookUser.owned">Owned</div>
    <div ng-show="!$ctrl.book.bookUser.owned">Wishlist</div>
  </div>
  <!-- Form element to update ownership status-->
  <div class="form-element" ng-show="$ctrl.edit">
    <label> Owned/Wishlist: <select ng-model="$ctrl.book.bookUser.owned">
      <option ng-value="true">I own this book</option>
      <option ng-value="false">This book is in my wishlist</option>
    </select></label>
  </div>


</div>
<div class="detail loan">
  <div ng-show="!$ctrl.edit">
    <div class="section-title">Loan Status</div>
    <div ng-show="$ctrl.book.bookUser.loaned">This book has been loaned out to someone.</div>
    <div ng-show="!$ctrl.book.bookUser.loaned">This book hasn't been loaned.</div>
  </div>
  <div class="form-element" ng-show="$ctrl.edit">
    <label> Loaned: <select ng-model="$ctrl.book.bookUser.loaned">
      <option ng-value="false">This book is in my possession</option>
      <option ng-value="true">I have loaned this book out</option>
    </select></label>
  </div>
</div>
<div class="detail isbn">
  <div class="section-title">ISBN</div>
  <div>{{$ctrl.book.isbn}}</div>
</div>
<div class="detail alert" ng-show="!$ctrl.book.dewey">
  <h4>This book is missing a Dewey Decimal Number!</h4>
  Conan works best when we know the Dewey Decimal Number for each book. Please help other book lovers by entering the Dewey Decimal Number for this book if you can find it. You can start by clicking <a ng-href="http://classify.oclc.org/classify2/ClassifyDemo?search-standnum-txt={{$ctrl.book.isbn}}&startRec=0">here</a> (note: you'll be taken to a third party website)!
</div>
<div class="detail notes">
  <div ng-show="!$ctrl.edit">
    <div ng-show="$ctrl.book.bookUser.notes">
      <h4>My Notes</h4>
      <div>{{$ctrl.book.bookUser.notes}}</div>
    </div>
    <div ng-show="!$ctrl.book.bookUser.notes">
      You haven't saved any notes about this book.
    </div>

  </div>
  <div ng-show="$ctrl.edit" class="form-element">
    <label>
      Notes:
      <textarea ng-model="$ctrl.book.bookUser.notes"></textarea>
    </label>
  </div>
</div>