<article>
  <br>
  <h1 ng-show="$ctrl.type === 'bookshelf'" class="header">MY BOOKSHELF <input placeholder= "Search books" ng-model="search" id="searchbar"></h1>
  <h1 ng-show="$ctrl.type === 'wishlist'" class="header">MY WISHLIST <input placeholder= "Search books" ng-model="search" id="searchbar"></h1>

  <br>

  <table class="books" id="bookList">
    <tr id="tableHeaders">
      <th> TITLE </th>
      <th> AUTHOR </th>
      <th> DEWEY DECIMAL NUMBER </th>
    </tr>
    <tr ng-repeat="book in $ctrl.books | filter:search" >
      <td>{{book.title}}</td>
      <td>{{book.format}}</td>
      <td>{{book.dewey}}</td>
    </tr>
  </table>
</article>