 <div id="contentsDewey">
      <h4>All Books</h4>
      <hr>
      <h4>000</h4>
      <h4 class="classification">Generalities</h4>
      <hr>
      <h4>100<h4>
      <h4 class="classification">Philosophy and Psychology</h4>
      <hr>
      <h4>200</h4>
      <h4 class="classification">Religion</h4>
      <hr>
      <h4>300</h4>
      <h4 class="classification">Social Sciences</h4>
      <hr>
      <h4>400</h4>
      <h4 class="classification">Language</h4>
      <hr>
      <h4>500</h4>
      <h4 class="classification">Natural Science and Mathematics</h4>
      <hr>
      <h4>600<h4>
      <h4 class="classification">Technology</h4>
      <hr>
      <h4>700</h4>
      <h4 class="classification">The arts</h4>
      <hr>
      <h4>800</h4>
      <h4 class="classification">Literature</h4>
      <hr>
      <h4>900</h4>
      <h4 class="classification">Geography and History</h4>
 </div>