<select ng-change="$ctrl.change(selected)" ng-options="item for item in $ctrl.items" ng-model="selected" id="dropdownSort">
  <option value="">Sort By</option>
</select>

<span ng-click="$ctrl.toggle()" class="button-options">
  <i class="material-icons options-i">compare_arrows</i> <p>Toggle View</p>
</span>

<span ng-click="$ctrl.toggleAdd()" class="button-options" ng-show="$ctrl.view === 'add'">
  <i class="material-icons options-i">cancel</i> Cancel Add
</span>

<span ng-click="$ctrl.toggleAdd()" class="button-options" ng-show="$ctrl.view !== 'add'">
  <i class="material-icons options-i">book</i> Add Book
</span>

<a ng-href="/users/{{$ctrl.user}}/books/list/dewey" ng-show="$ctrl.sort === 'dewey'" target="_blank">
  <span class="button-options" >
    <i class="material-icons options-i">file_download</i> Download Current Bookshelf
  </span>
</a>

<a ng-href="/users/{{$ctrl.user}}/books/list/title" ng-show="$ctrl.sort === 'title'" target="_blank">
  <span class="button-options" >
    <i class="material-icons options-i">file_download</i> Download Current Bookshelf
  </span>
</a>
