<select ng-change="$ctrl.change(selected)" ng-options="item for item in $ctrl.items" ng-model="selected" id="dropdownSort">
  <option value="">Sort By</option>
</select>

<button ng-click="$ctrl.toggle()" class="button" id="toggleView">Toggle View</button>
<button ng-click="$ctrl.toggleAdd()" class="button" ng-show="$ctrl.view === 'add'">Cancel Add</button>
<button ng-click="$ctrl.toggleAdd()" class="button" ng-show="$ctrl.view !== 'add'">Add Book</button>

<!-- <button class="button" id="addBook">Add Book</button>
 -->